---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import { url } from '../utils'
import '../assets/styles/shared.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import _ from 'lodash'

interface Props {
  title: string
  description?: string
  og?: {
    title?: string
    description?: string
    image?: string
  }
}

const { title, description = SITE_DESCRIPTION, og } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={`${title} - ${SITE_TITLE}`} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - {SITE_TITLE}</title>

    <!-- Fonts -->
    <link
      rel="preload"
      href={(await import('../assets/fonts/brown-sugar.woff2')).default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-500.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-600.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-700.woff2'))
        .default}
      as="font"
      crossorigin
    />

    <!-- Open Graph -->
    <meta property="og:title" content={og?.title ?? title} />
    <meta property="og:description" content={og?.description ?? description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content={og?.image} />

    <!-- Favicons & Manifests -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href={url('/favicons/apple-icon-57x57.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href={url('/favicons/apple-icon-60x60.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href={url('/favicons/apple-icon-72x72.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href={url('/favicons/apple-icon-76x76.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href={url('/favicons/apple-icon-114x114.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href={url('/favicons/apple-icon-120x120.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href={url('/favicons/apple-icon-144x144.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href={url('/favicons/apple-icon-152x152.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={url('/favicons/apple-icon-180x180.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href={url('/favicons/android-icon-192x192.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={url('/favicons/favicon-32x32.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href={url('/favicons/favicon-96x96.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={url('/favicons/favicon-16x16.png')}
    />
    <link rel="manifest" href={url('/manifest.json')} />
    <meta name="msapplication-TileColor" content="#beded6" />
    <meta
      name="msapplication-TileImage"
      content={url('/favicons/ms-icon-144x144.png')}
    />
    <meta name="theme-color" content="#beded6" />

    <slot name="head" />
  </head>
  <body>
    <Nav />

    <main>
      <slot />
    </main>

    <Footer />

    <script is:inline async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
